* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	background: transparent;
	font-family: inherit;
}
a {
  text-decoration: none;
}

a img {
  border: none;
}
  
button,
a {
  cursor: pointer;
  color: inherit;
}
  
textarea {
  resize: none;
}
  
button,
textarea,
select,
input {
  appearance: none !important;
  border-radius: 0;
}

/* Reset over */


body {
	font-family: 'Poppins', sans-serif;
  background-color: #fefefe;
}

#root {
  width: 720px;
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 48px;
  margin: 48px auto;
}

fieldset {
  border: none;
}

h1, 
legend {
	font-family: 'Lora', serif;
}

.form h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #c72c2c;
}

.separator {
  height: 1px;
  background: #E5E5E5;
  margin-top: 16px;
  margin-bottom: 48px;
}

.address-details {
	width: 724px;
}

.personal-details input,
.personal-details textarea, 
.address-details input {
	width: 624px;
}

legend {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #030303;
	margin-bottom: 24px;
	margin-top: 48px;
}

label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 8px;
  width: 624px;
}

input {
	height: 50px;
  line-height: 50px;
  padding: 0 16px;
}

textarea {
  height: 115px;
  line-height: 24px;
  padding: 10px 16px 10px 16px;
}

input,
textarea,
.picture-wrap {
  border: 2px solid #030303;
  font-size: 16px;
  background: #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 24px;
  color: #030303;
}

input::placeholder {
  line-height: 50px;
}

textarea::placeholder {
  line-height: 24px;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #868484;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

textarea:focus {
  padding: 10px 16px;
}

input:focus {
  padding: 0 16px;
}

textarea:focus, 
input:focus {
  color: #030303;
  letter-spacing: 1.2px;
  border: 2px solid #828282;
}

div .btn-wrapper {
  width: 624px;
  text-align: right;
}

.btn-primary {
  width: 170px;
  height: 44px;
  background: #030303;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-secondary {
  width: 98px;
  height: 44px;
  background: #fff;
  color: #030303;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* Image uplaod wrap */

.picture-wrap {
  position: relative;
  width: 120px;
  height: 120px;
  background: transparent;
}

.picture-wrap input, .picture-wrap img {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

img#preview.picture-preview-hidden[src=""] {
  display: none;
}

input.custom-file-input {
  background-color: transparent;
}

img#preview.picture-preview-hidden {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}

input.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input.custom-file-input.fileSelected::before {
  content: ' ';
}

input.custom-file-input::before {
  line-height: 120px;
  text-align: center;
  display: block;
  content: 'Choose file';
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
}

input.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}